<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	resizeOnImport="true"
	galleryTitle="In Mannheim, Heidelberg and Neustadt"
	showOpenButton="true"
	useThumbDots="false"

>
  <image imageURL="images/2014-08-01 11.59.57.jpg"
	thumbURL="thumbs/2014-08-01 11.59.57.jpg"
	linkURL="images/2014-08-01 11.59.57.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 11.59.57.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[On a Boeing 747.]]></caption>
  </image>
  <image imageURL="images/2014-08-01 07.45.28.jpg"
	thumbURL="thumbs/2014-08-01 07.45.28.jpg"
	linkURL="images/2014-08-01 07.45.28.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 07.45.28.jpg">
    <title><![CDATA[Arrive at Frankfurt Airport!]]></title>
    <caption><![CDATA[Seflie of my passport(?).]]></caption>
  </image>
  <image imageURL="images/2014-08-01 08.07.06.jpg"
	thumbURL="thumbs/2014-08-01 08.07.06.jpg"
	linkURL="images/2014-08-01 08.07.06.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 08.07.06.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Frankfurt Airport - Terminal 2]]></caption>
  </image>
  <image imageURL="images/2014-08-01 08.29.21.jpg"
	thumbURL="thumbs/2014-08-01 08.29.21.jpg"
	linkURL="images/2014-08-01 08.29.21.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 08.29.21.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[From terminal 1 to long distance train station (fernbahnhof).]]></caption>
  </image>
  <image imageURL="images/2014-08-01 09.52.19.jpg"
	thumbURL="thumbs/2014-08-01 09.52.19.jpg"
	linkURL="images/2014-08-01 09.52.19.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 09.52.19.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[On platform.]]></caption>
  </image>
  <image imageURL="images/2014-08-01 20.09.23.jpg"
	thumbURL="thumbs/2014-08-01 20.09.23.jpg"
	linkURL="images/2014-08-01 20.09.23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-01 20.09.23.jpg">
    <title><![CDATA[Schloss Mannheim]]></title>
    <caption><![CDATA[Mannheim Castle, which sits the University of Mannheim, the second biggest Barock castle.]]></caption>
  </image>
  <image imageURL="images/2014-08-02 11.59.55.jpg"
	thumbURL="thumbs/2014-08-02 11.59.55.jpg"
	linkURL="images/2014-08-02 11.59.55.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 11.59.55.jpg">
    <title><![CDATA[Marktplaz, Mannheim.]]></title>
    <caption><![CDATA[Market every tues, thurs, and sat.]]></caption>
  </image>
  <image imageURL="images/2014-08-02 13.04.06.jpg"
	thumbURL="thumbs/2014-08-02 13.04.06.jpg"
	linkURL="images/2014-08-02 13.04.06.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 13.04.06.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[來膜！！]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.12.25.jpg"
	thumbURL="thumbs/2014-08-02 15.12.25.jpg"
	linkURL="images/2014-08-02 15.12.25.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.12.25.jpg">
    <title><![CDATA[Schlosskirche Mannheim]]></title>
    <caption><![CDATA[An Old Catholic (instad of Roman Catholic) church in the castle.]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.13.41.jpg"
	thumbURL="thumbs/2014-08-02 15.13.41.jpg"
	linkURL="images/2014-08-02 15.13.41.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.13.41.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.13.56.jpg"
	thumbURL="thumbs/2014-08-02 15.13.56.jpg"
	linkURL="images/2014-08-02 15.13.56.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.13.56.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[A huge organ!]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.15.07.jpg"
	thumbURL="thumbs/2014-08-02 15.15.07.jpg"
	linkURL="images/2014-08-02 15.15.07.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.15.07.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.22.40.jpg"
	thumbURL="thumbs/2014-08-02 15.22.40.jpg"
	linkURL="images/2014-08-02 15.22.40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.22.40.jpg">
    <title><![CDATA[Jesuitenkirche Mannheim]]></title>
    <caption><![CDATA[Jesuit Church Mannheim]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.25.47.jpg"
	thumbURL="thumbs/2014-08-02 15.25.47.jpg"
	linkURL="images/2014-08-02 15.25.47.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.25.47.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.29.01.jpg"
	thumbURL="thumbs/2014-08-02 15.29.01.jpg"
	linkURL="images/2014-08-02 15.29.01.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.29.01.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[The eye signifies the eye of God.]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.30.08.jpg"
	thumbURL="thumbs/2014-08-02 15.30.08.jpg"
	linkURL="images/2014-08-02 15.30.08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.30.08.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Another orphan!]]></caption>
  </image>
  <image imageURL="images/2014-08-02 15.44.43.jpg"
	thumbURL="thumbs/2014-08-02 15.44.43.jpg"
	linkURL="images/2014-08-02 15.44.43.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 15.44.43.jpg">
    <title><![CDATA[Synagoge Mannheim]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.06.47.jpg"
	thumbURL="thumbs/2014-08-02 16.06.47.jpg"
	linkURL="images/2014-08-02 16.06.47.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.06.47.jpg">
    <title><![CDATA[Paradeplatz, Mannheim]]></title>
    <caption><![CDATA[These are for the tramways.]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.30.27.jpg"
	thumbURL="thumbs/2014-08-02 16.30.27.jpg"
	linkURL="images/2014-08-02 16.30.27.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.30.27.jpg">
    <title><![CDATA[Wasserturm und Rosengarten]]></title>
    <caption><![CDATA[The landmark, water tower (wasserturm).]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.34.48.jpg"
	thumbURL="thumbs/2014-08-02 16.34.48.jpg"
	linkURL="images/2014-08-02 16.34.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.34.48.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Rosengarten]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.35.12.jpg"
	thumbURL="thumbs/2014-08-02 16.35.12.jpg"
	linkURL="images/2014-08-02 16.35.12.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.35.12.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.35.23.jpg"
	thumbURL="thumbs/2014-08-02 16.35.23.jpg"
	linkURL="images/2014-08-02 16.35.23.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.35.23.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 16.40.58.jpg"
	thumbURL="thumbs/2014-08-02 16.40.58.jpg"
	linkURL="images/2014-08-02 16.40.58.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 16.40.58.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-02 20.46.42.jpg"
	thumbURL="thumbs/2014-08-02 20.46.42.jpg"
	linkURL="images/2014-08-02 20.46.42.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-02 20.46.42.jpg">
    <title><![CDATA[On a tram.]]></title>
    <caption><![CDATA[How can they set a seat here?]]></caption>
  </image>
  <image imageURL="images/2014-08-04 09.10.49.jpg"
	thumbURL="thumbs/2014-08-04 09.10.49.jpg"
	linkURL="images/2014-08-04 09.10.49.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-04 09.10.49.jpg">
    <title><![CDATA[Paradeplatz at 9am.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-05 16.10.27.jpg"
	thumbURL="thumbs/2014-08-05 16.10.27.jpg"
	linkURL="images/2014-08-05 16.10.27.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-05 16.10.27.jpg">
    <title><![CDATA[Postcards of the castle.]]></title>
    <caption><![CDATA[Student fare for visits costs 3€. Taking pictures costs another 3€. Hum....]]></caption>
  </image>
  <image imageURL="images/2014-08-06 10.14.36.jpg"
	thumbURL="thumbs/2014-08-06 10.14.36.jpg"
	linkURL="images/2014-08-06 10.14.36.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-06 10.14.36.jpg">
    <title><![CDATA[Stadtbibliothek Mannheim]]></title>
    <caption><![CDATA[Municipal library of Mannheim.]]></caption>
  </image>
  <image imageURL="images/2014-08-06 10.28.30.jpg"
	thumbURL="thumbs/2014-08-06 10.28.30.jpg"
	linkURL="images/2014-08-06 10.28.30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-06 10.28.30.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-06 15.48.05.jpg"
	thumbURL="thumbs/2014-08-06 15.48.05.jpg"
	linkURL="images/2014-08-06 15.48.05.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-06 15.48.05.jpg">
    <title><![CDATA[Universitätbibliothek Mannheim - A3]]></title>
    <caption><![CDATA[The University's Library at A3.]]></caption>
  </image>
  <image imageURL="images/2014-08-08 11.49.02.jpg"
	thumbURL="thumbs/2014-08-08 11.49.02.jpg"
	linkURL="images/2014-08-08 11.49.02.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 11.49.02.jpg">
    <title><![CDATA[In Philosophenweg, Heidelberg.]]></title>
    <caption><![CDATA[View of the old town (Altstadt) from the Pilosophers' Way (Philosophenweg).]]></caption>
  </image>
  <image imageURL="images/2014-08-08 11.52.30.jpg"
	thumbURL="thumbs/2014-08-08 11.52.30.jpg"
	linkURL="images/2014-08-08 11.52.30.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 11.52.30.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-08 16.12.07.jpg"
	thumbURL="thumbs/2014-08-08 16.12.07.jpg"
	linkURL="images/2014-08-08 16.12.07.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 16.12.07.jpg">
    <title><![CDATA[In Schloss Heidelberg.]]></title>
    <caption><![CDATA[View of the Altstadt from Heidelberg Castle.]]></caption>
  </image>
  <image imageURL="images/2014-08-08 16.52.33.jpg"
	thumbURL="thumbs/2014-08-08 16.52.33.jpg"
	linkURL="images/2014-08-08 16.52.33.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 16.52.33.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Wine!]]></caption>
  </image>
  <image imageURL="images/2014-08-08 16.55.08.jpg"
	thumbURL="thumbs/2014-08-08 16.55.08.jpg"
	linkURL="images/2014-08-08 16.55.08.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 16.55.08.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[Inside the castle's courtyard.]]></caption>
  </image>
  <image imageURL="images/2014-08-08 18.44.05.jpg"
	thumbURL="thumbs/2014-08-08 18.44.05.jpg"
	linkURL="images/2014-08-08 18.44.05.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-08 18.44.05.jpg">
    <title><![CDATA[Am Neckar.]]></title>
    <caption><![CDATA[View of the Neckar River at Heidelberg.]]></caption>
  </image>
  <image imageURL="images/2014-08-09 11.01.33.jpg"
	thumbURL="thumbs/2014-08-09 11.01.33.jpg"
	linkURL="images/2014-08-09 11.01.33.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-09 11.01.33.jpg">
    <title><![CDATA[In Neustadt (Weinstrasse).]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-09 11.03.45.jpg"
	thumbURL="thumbs/2014-08-09 11.03.45.jpg"
	linkURL="images/2014-08-09 11.03.45.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-09 11.03.45.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-09 14.45.27.jpg"
	thumbURL="thumbs/2014-08-09 14.45.27.jpg"
	linkURL="images/2014-08-09 14.45.27.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-09 14.45.27.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-10 16.01.14.jpg"
	thumbURL="thumbs/2014-08-10 16.01.14.jpg"
	linkURL="images/2014-08-10 16.01.14.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-10 16.01.14.jpg">
    <title><![CDATA[Am Neckar.]]></title>
    <caption><![CDATA[View of the Neckar River at Mannheim.]]></caption>
  </image>
  <image imageURL="images/2014-08-10 16.15.48.jpg"
	thumbURL="thumbs/2014-08-10 16.15.48.jpg"
	linkURL="images/2014-08-10 16.15.48.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-10 16.15.48.jpg">
    <title><![CDATA[Museumschiff]]></title>
    <caption><![CDATA[On the museum ship of the Technology Museum (Technoseum) on the Neckar River.]]></caption>
  </image>
  <image imageURL="images/2014-08-10 16.29.33.jpg"
	thumbURL="thumbs/2014-08-10 16.29.33.jpg"
	linkURL="images/2014-08-10 16.29.33.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-10 16.29.33.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-12 23.23.46.jpg"
	thumbURL="thumbs/2014-08-12 23.23.46.jpg"
	linkURL="images/2014-08-12 23.23.46.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-12 23.23.46.jpg">
    <title><![CDATA[Delicous sweets.]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-13 18.00.31.jpg"
	thumbURL="thumbs/2014-08-13 18.00.31.jpg"
	linkURL="images/2014-08-13 18.00.31.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-13 18.00.31.jpg">
    <title><![CDATA[Protest against ISIS.]]></title>
    <caption><![CDATA[At Paradeplatz, Mannheim.]]></caption>
  </image>
  <image imageURL="images/2014-08-13 18.00.42.jpg"
	thumbURL="thumbs/2014-08-13 18.00.42.jpg"
	linkURL="images/2014-08-13 18.00.42.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-13 18.00.42.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-14 14.59.03.jpg"
	thumbURL="thumbs/2014-08-14 14.59.03.jpg"
	linkURL="images/2014-08-14 14.59.03.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-14 14.59.03.jpg">
    <title><![CDATA[Am Rhine. In Schlossgarten Mannheim.]]></title>
    <caption><![CDATA[View of the Rhine River from the Mannheim Castle's garden.]]></caption>
  </image>
  <image imageURL="images/2014-08-14 14.59.41.jpg"
	thumbURL="thumbs/2014-08-14 14.59.41.jpg"
	linkURL="images/2014-08-14 14.59.41.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-14 14.59.41.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-14 23.27.09.jpg"
	thumbURL="thumbs/2014-08-14 23.27.09.jpg"
	linkURL="images/2014-08-14 23.27.09.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-14 23.27.09.jpg">
    <title><![CDATA[Sauce bottle.]]></title>
    <caption><![CDATA[Found it in a sushi box from a market.]]></caption>
  </image>
  <image imageURL="images/2014-08-19 16.25.05.jpg"
	thumbURL="thumbs/2014-08-19 16.25.05.jpg"
	linkURL="images/2014-08-19 16.25.05.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-19 16.25.05.jpg">
    <title><![CDATA[Euro coins.]]></title>
    <caption><![CDATA[Euro coins made by different states have different obverses.]]></caption>
  </image>
  <image imageURL="images/2014-08-21 18.00.40.jpg"
	thumbURL="thumbs/2014-08-21 18.00.40.jpg"
	linkURL="images/2014-08-21 18.00.40.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-21 18.00.40.jpg">
    <title><![CDATA[In City Döner, front of the Mannheim Main Station (Mannheim Hauptbahnhof).]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/2014-08-23 08.34.15.jpg"
	thumbURL="thumbs/2014-08-23 08.34.15.jpg"
	linkURL="images/2014-08-23 08.34.15.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\user\Copy\Europe Photos\Mannheim, Heidelberg, Neustadt\2014-08-23 08.34.15.jpg">
    <title><![CDATA[Euro notes.]]></title>
    <caption><![CDATA[Once you're the president of the European Central Bank, every European citizen has your autographs.]]></caption>
  </image>
</juiceboxgallery>